.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules/
node_modules
bower_components
build
dist
tmp
temp
.cache
output
.vscode
.idea
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.userosscache
*.sln.docstates
*.tsbuildinfo   

*.sublime*

psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#react